* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

.videobg {
  overflow: hidden;
  position: relative;
}

video {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  object-fit: cover;
}

.social_links {
  display: flex;
  justify-content: space-around;
}

.image_link {
  height: 50px;
  border-radius: 10%;
}

.connect {
  display: flex;
  justify-content: center;
  font-family: "Baloo Bhai 2", cursive;
  padding: 8vh;
}

.landing_message {
  display: flex;
  justify-content: center;
  font-family: "Rampart One", cursive;
  color: ghostwhite;
}

.landing_page {
  position: absolute;
  top: 0;
  width: 100%;
}

.bottom {
  position: fixed;
  bottom: 10vh;
  width: 100%;
}

.my_img {
  padding-top: 8vh;
  display: flex;
  justify-content: center;
  height: 20vw;
  margin: 0 0 0 40vw;
}

@media only screen and (max-width: 400px){
  *{
    text-align: center;
    overflow:hidden;
  }
  video {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  object-fit: cover;
  }
  .landing_message{
    font-size: 25px;
    margin: 0 0 0 0;
  }
  .social_links{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
  }
  .connect{
    padding: 0;
  }
  .image_link{
    flex:1 0 100%
  }
  .bottom{
    margin-bottom: 0;
    position: fixed;
  }
}